--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
httpx
pydantic-settings
sentence-transformers
faiss-cpu
numpy
python-multipart
langchain
langchain-groq
python-dotenv
torch==2.2.2+cpu
